################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/API/.vs/*
/API/*/bin
/API/*/obj
/API/TestResults/*